:root{
    --cor-principal:#86BF84;
    --cor-texto-principal:#333;
    --cor-texto-secundario:#666;
    --cor-fundo-claro:#f9f9f9;
    --fonte-principal: Roboto, sans-serif;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

article {
	background-color: white;
	margin: 15px;
	padding: 15px;
	color: black;
	box-shadow: 0 0 10px black;
	border-radius: 10px;
	font-size: 15px;
	font-family: var(--fonte-principal);
  }

body {
    font-size: 16px;
    line-height: 1.5;
    font-family: var(--fonte-principal);
    color: var(--cor-texto-principal);
    background-color: var(--cor-fundo-claro);
}

.fundo{
    background-image:url(./img/fundo-2.png);
}

.titulos-gerais {
    text-align: center;
    padding: 30px 0;
    color: var(--cor-principal);
}

/* Navbar */
.navbar {
    background-color: #333;
    padding: 15px 0;
    text-align: center;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.menu li {
    display: inline;
    margin: 0 20px;
    position: relative;
}

.menu a {
    color: #f2f2f2;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    position: relative;
}

.menu a::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: -5px;
    height: 2px;
    background-color: var(--cor-principal);
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.menu a:hover::before {
    transform: scaleX(1);
}

.menu a::after {
    content: '▲';
    position: absolute;
    left: 50%;
    bottom: -15px;
    transform: translateX(-50%) scaleY(0);
    color: var(--cor-principal);
    transition: transform 0.3s ease-in-out;
    font-size: 1.5em;
}

.menu a.active::after {
    transform: translateX(-50%) scaleY(1);
}

@media (max-width: 768px) {
    .menu {
        display: grid;
        grid-template-columns: 1fr 1fr; /* Duas colunas de largura igual */
        gap: 10px; /* Espaçamento entre os itens */
        justify-items: center; /* Centraliza os itens horizontalmente */
        max-width: 100%; /* Garante que o menu ocupe a largura total */
        padding: 10px;
    }

    .menu li {
        display: block; /* Muda de inline para block para ocupar a célula do grid */
        margin: 0; /* Remove margens para evitar desalinhamento */
    }

    .menu a {
        padding: 10px;
        width: 100%; /* Garante que o link ocupe a largura da célula */
        text-align: center;
    }
}

/* Introdução */
.introducao {
    padding: 20px;
    text-align: center;
}

.introducao article {
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.introducao h3 {
    color: var(--cor-principal);
    margin-bottom: 10px;
}

/* Slider de Notícias */
.carousel-control-prev-icon,
        .carousel-control-next-icon {
            background-color: var(--cor-principal); /* Cinza escuro para as flechas */
        }
        .carousel-indicators [data-bs-target] {
            background-color: var(--cor-principal); /* Cinza escuro para os indicadores */
        }
        .carousel-item img {
            max-height: 300px; /* Limite de altura para as imagens */
            object-fit: cover; /* Mantém a proporção e cobre o espaço */
            width: 100%; /* Garante que a imagem ocupe a largura disponível */
        }
        @media (min-width: 790px) {
            .carousel-item .card {
                max-height: 400px; /* Limite de altura do slide em telas maiores que 790px */
                overflow: hidden; /* Garante que o conteúdo não ultrapasse o limite */
            }
        }
/* Conexões em Destaque (Serviços) */
.conexoes-destaque {
    padding: 40px 20px;
    text-align: center;
}

.galeria-container img{
 width: 20%;
}

.destaques-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    margin-top: 30px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.destaque {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: white;
}

.destaque i {
    font-size: 2em;
    color: var(--cor-principal);
    margin-bottom: 10px;
}

.destaque h3 {
    color: var(--cor-texto-principal);
    margin-bottom: 10px;
}

.destaque p {
    color: var(--cor-texto-secundario);
    line-height: 1.6;
}

.destaque a {
    display: inline-block;
    margin-top: 15px;
    padding: 8px 15px;
    background-color: var(--cor-principal);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.destaque a:hover {
    background-color: #7A998A;
}

.galeria{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    align-items: center;
    justify-content: center;
}

.depoimentos {
    background-color: rgba(255, 255, 255, 0.9);
}

.depoimentos__title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: calc(var(--base-grid) * 4);
    color: var(--cor-principal);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
}

.depoimento.card {
    border: 1px solid var(--cor-texto-secundario);
    border-radius: 10px;
    background-color: var(--cor-fundo-claro);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.depoimento.card:hover {
    transform: translateY(-5px);
}

.depoimento img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.depoimento .blockquote {
    font-size: calc(var(--base-grid) * 2);
    color: var(--cor-texto-principal);
    line-height: 1.6;
    font-style: italic;
}



.depoimento cite {
    font-size: calc(var(--base-grid) * 1.8);
    color: var(--cor-texto-secundario);
    font-style: normal;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .depoimentos__title {
        font-size: calc(var(--base-grid) * 3);
    }

    .depoimento .blockquote {
        font-size: calc(var(--base-grid) * 1.8);
    }

    .depoimento cite {
        font-size: calc(var(--base-grid) * 1.6);
    }
}

@media (max-width: 576px) {
    .depoimentos {
        padding: 10px;
    }

    .depoimento img {
        width: 60px;
        height: 60px;
    }
}

@media(max-width: 768px){
    .galeria{
        grid-template-columns: none;
    }
}

ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
  background: #151414;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: var(--cor-principal);
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #DD4B39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: var(--cor-principal);
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: var(--cor-principal);
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    padding: 13px 20px;
    border: 1px solid var(--cor-principal);
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}

.audio-player {
    background-color: none;
    padding: 0px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: var(--cor-principal);
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
    .slider {
        height: auto;
    }

    .slides {
        flex-direction: column;
    }

    .slide {
        flex-direction: column;
        text-align: center;
        padding: 30px;
    }

    .slide-content {
        width: 100%;
        padding-right: 0;
        margin-bottom: 20px;
    }

    .slide-image {
        width: 100%;
        text-align: center;
    }

    .destaques-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .galeria-grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}

